* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: black;
}

body {
    max-width: 650px;
    margin: auto;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    padding-bottom: 15px;
}

small {
    opacity: 50%;
}

.link {
    padding-top: 10px;
}

.styledbtn {
	background-color:#2c2c2c;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 33px;
	text-decoration:none;
}
.styledbtn:hover {
	background-color:#ffffff;
    color:#2c2c2c;
}
.styledbtn:active {
    animation-duration: 0.2s;
    animation-name: buttonactive;
    animation-timing-function: ease-out;
	position:relative;
}

@keyframes buttonactive {
    from {top:0px;}
    to {top:3px;}
}